* {
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    background: #303030;
    height: 100%;
}

.header {
    position: fixed;
    top: 0px;
    width:  100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    height: 135px;
    z-index: 3000;
    background: #303030;
}

.nav_header {
    display: flex;
    gap: 10px;
}

.nav_header a {
    text-decoration: none;
    color: white;
}

.main-content {
    padding: 100px 10px 0px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 98%;
}

.social_medias {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social_medias a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    font-weight: bold;
}

.linkedin {
    color: #0e76a8 !important;
    border-color: #0e76a8 !important;
}

.about, .expirence, .projects {
    color: white;
    display: flex;
    flex-direction: column;
    padding:  10px;
    gap: 10px;
    align-items: center;
    min-height: 98%;
    padding-top: 150px;
}

.about, .expirence {

    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.expirence {
    max-width: 400px;
}

.about h1 {
    text-align: center;
}

#home h1 {
    text-align: center;
}

.expirence-rank-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.expirence-bar {
    position: absolute;
    top: 0px;
    height: 100%;
    padding: 2px;
    margin-left: 3px;
    border-radius: 4px;
    background: white;
}

.ball {
    width: 10px;
    height: 10px;
    border: 0px;
    background: white;
    position: absolute;
    border-radius: 100%;
    border: 1px solid black;
}

.expirence-container {
    padding-left: 18px;
}

.expirence-container ol {
    padding-left: 40px;
}

.project-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    width: 270px;
    gap: 8px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 11px;
}

@media screen and (min-width: 954px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
    }

    .about {
        max-width: 400px;
    }
}