* {
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    background: #303030;
    height: 100%;
}

.header {
    position: fixed;
    top: 0px;
    width:  100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    height: 135px;
    background: #303030;
}

.nav_header {
    display: flex;
    gap: 10px;
}

.nav_header a {
    text-decoration: none;
    color: white;
}

.main-content {
    padding: 100px 10px 0px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 98%;
}

.social_medias {
    display: flex;
    justify-content: center;
}

.social_medias a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    font-weight: bold;
}

.about {
    color: white;
    display: flex;
    flex-direction: column;
    padding:  10px;
    gap: 10px;
    align-items: center;
}

.about h1 {
    text-align: center;
}